# 1. IGNORAR ABSOLUTAMENTE TODO
*

# 2. EXCEPCIÓN VITAL: Permitir a Git entrar en TODAS las carpetas y subcarpetas
!*/
!**/

# 3. LISTA BLANCA DE ARCHIVOS PERMITIDOS (Búsqueda profunda en cualquier carpeta)
# --------------------------------------------------------------
# Código fuente
!**/*.vhd
!**/*.vhdl
!**/*.v
!**/*.sv
!**/*.mif
!**/*.hex

# Archivos de Quartus (Proyecto y Configuración)
!**/*.qpf
!**/*.qsf
!**/*.sdc
!**/*.tcl
!**/*.bdf
!**/*.bsf

# Archivos vitales de los IP Cores
!**/*.qip
!**/*.sip
!**/*.cmp
!**/*.qsys
!**/*.ip

# Documentación y configuración
!.gitignore
!.gitattributes
!**/*.md
!**/*.txt
!**/*.pdf

# --------------------------------------------------------------
# 4. SALVAR CARPETAS DE IPs COMPLETAS (Estén donde estén)
!**/ADC_IP/**

# --------------------------------------------------------------
# 5. IGNORAR CARPETAS BASURA DE QUARTUS
# (Las bloqueamos estén donde estén)
**/db/
**/incremental_db/
**/output_files/
**/simulation/
**/greybox_tmp/